<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net48" />
  <package id="Daily.Dilbert.Service" version="2.2.19" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net48" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.6.8" targetFramework="net48" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net48" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net48" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="Simple.Rest" version="2.1.21" targetFramework="net48" />
  <package id="Simple.Wpf.FSharp.Repl" version="2.1.0" targetFramework="net48" />
  <package id="Simple.Wpf.Terminal" version="2.3.15" targetFramework="net48" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Core" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="4.3.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net40" />
</packages>